<a href="https://colab.research.google.com/github/stw8194/AI_for_Machine_Learning/blob/main/week3/Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [50]:
df = pd.DataFrame({"Name":["유재은","안이현","송태원","허희진"],
                   "Hobby":["드라마","탁구","클라이밍","영화"],
                   "Nationality":["한국","한국","한국","한국"],
                   "Favorite Number":[5,3,17,4]}
                  ,index=["학생1","학생2","학생3","학생4"])

df

    Name Hobby Nationality  Favorite Number
학생1  유재은   드라마          한국                5
학생2  안이현    탁구          한국                3
학생3  송태원  클라이밍          한국               17
학생4  허희진    영화          한국                4

In [51]:
df.to_csv("output.csv", index = False)

In [52]:
pd.read_csv("output.csv")

  Name Hobby Nationality  Favorite Number
0  유재은   드라마          한국                5
1  안이현    탁구          한국                3
2  송태원  클라이밍          한국               17
3  허희진    영화          한국                4

In [53]:
df.count()

Name               4
Hobby              4
Nationality        4
Favorite Number    4
dtype: int64

In [54]:
df.nunique()

Name               4
Hobby              4
Nationality        1
Favorite Number    4
dtype: int64

In [83]:
df.sum()

Name               유재은안이현송태원허희진
Hobby               드라마탁구클라이밍영화
Nationality            한국한국한국한국
Favorite Number              29
dtype: object

In [67]:
df["Favorite Number"].mean()

7.25

In [66]:
df["Favorite Number"].median()

4.5

In [63]:
df["Favorite Number"].min()

3

In [64]:
df["Favorite Number"].idxmin()

'학생2'

In [65]:
df.max()

Name               허희진
Hobby               탁구
Nationality         한국
Favorite Number     17
dtype: object

In [80]:
df["Favorite Number"].idxmax()

'학생3'

In [62]:
df["Favorite Number"].abs()

학생1     5
학생2     3
학생3    17
학생4     4
Name: Favorite Number, dtype: int64

In [69]:
df["Favorite Number"].std()

6.551081335677848

In [70]:
df["Favorite Number"].var()

42.916666666666664

In [74]:
df["Favorite Number"].cov(df["Favorite Number"])

42.916666666666664

In [75]:
df["Favorite Number"].corr(df["Favorite Number"])

1.0

In [76]:
df["Favorite Number"].quantile()

4.5

In [77]:
df["Favorite Number"].cumsum()

학생1     5
학생2     8
학생3    25
학생4    29
Name: Favorite Number, dtype: int64

In [78]:
df["Favorite Number"].cummin()

학생1    5
학생2    3
학생3    3
학생4    3
Name: Favorite Number, dtype: int64

In [79]:
df["Favorite Number"].cummax()

학생1     5
학생2     5
학생3    17
학생4    17
Name: Favorite Number, dtype: int64